.comment-container{
    width: 100%;
    height: auto;
    display: flex;
    
    .userProfile {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background: black;
         background-position: top !important;
         background-size: cover !important;
         background-repeat: no-repeat  !important;
    }

    .commentDetails {
        width: 80%;
        margin-left: 10px;

        .radius_div {
            padding: 10px;
            background: rgb(241, 241, 241);
            border-radius: 8px;
        }

        .comment_user_name {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                cursor: pointer;
                font-size: .9375rem;
                // font-weight: 300;

                &:last-child {
                    // display: none;
                    .tooltipdots {
                        &:hover{
                            font-weight: bolder;
                            }
                    }
                }
            }


        }
        .toolTipCont {
            position: absolute;
            right: 5px;
            z-index: 1;
            display: none;
        }

        .user_comment {
            font-size: .9375rem;
            font-family: 'Lato';
            word-wrap: break-word;
            margin-top: 5px;
        }

        .raction_cont {
            margin-top: 10px;
            margin-bottom: 5px;
            span {
                font-size: 14px;
                cursor: pointer;
                color: rgb(33, 33, 33);
                margin-right: 15px;
            }
        }

        .view_reply {
            font-size: 13px;
            color: red;
            cursor: pointer;
        }
        .replyBreaker{
            background-color:#0202021c;
            color:#07070727;
            transform:rotate(90deg);
            width: 25px;
            margin: 25px 0px;
            // border:2px;
        }

        .replyCommentDiv {
            margin-top: 25px;

        }
    }
}