.comment-container{
    width: 100%;
    height: auto;
    display: flex;
    
    .userProfile {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background: black;
         background-position: center !important;
         background-size: cover !important;
         background-repeat: no-repeat  !important;
    }

    .commentDetails {
        width: 80%;
        margin-left: 10px;

        .radius_div {
            padding: 10px;
            background: rgb(241, 241, 241);
            border-radius: 8px;
        }

        .comment_user_name {
            font-family: Arial, Helvetica, sans-serif;
        }

        .user_comment {
            font-size: 15px;
            font-family: 'Lato';
            word-wrap: break-word;
        }

        .raction_cont {
            margin-top: 10px;
            margin-bottom: 5px;
            span {
                font-size: 14px;
                cursor: pointer;
                color: rgb(33, 33, 33);
                margin-right: 15px;
            }
        }

        .view_reply {
            font-size: 13px;
            color: red;
        }
    }
}