.left_sections {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;



    .left_section_3 {
        width: 100%;
        height: 50%;
        // background: red;
        margin-top: auto;
        padding: 10px;
    }
}






.suggestedFriends {

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid rgba(204, 204, 204, 0.289);
    }
}




.mini_profile_container {
    width: 100%;
    height: 70px;
    display: flex;

    .profile_img {
        width: fit-content;
        height: 100%;
        // background: green;
        cursor: pointer;
        .img {
            width: 60px;
            height: 60px;
            background: brown;
            border-radius: 50%;
            image-rendering: optimizeQuality !important;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
    }

    .profile_info {
        width: 70%;
        height: 100%;
        // background: blue;
        margin-left: 15px;
        h4 {
            font-family: 'Lato';
            font-size: 15px;
            cursor: pointer;
        }

        span {
            font-weight: 200;
            font-size: 12px;
        }

        button {
            width: 70px;
            height: 20px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid white;
            background: red;
            color: white;
            font-weight: bold;
            font-size: 12px;
            cursor: pointer;
        }
    }

}