.newPost_container {
  width: 70%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  background: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newPost_container .user_image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.newPost_container .user_image .img {
  width: 60px;
  height: 60px;
  background: url("https://images.unsplash.com/photo-1584119164246-461d43e9bab3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.newPost_container .postEntry {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.newPost_container .postEntry input {
  background: #f3f3f3;
  width: 80%;
  height: 60px;
  border-radius: 6px;
  border: 1px solid white;
  padding-left: 10px;
}

.newPost_container .postEntry input:focus {
  outline: none;
}

.newPost_container .postEntry input::-webkit-input-placeholder {
  font-weight: bold;
  color: #797979;
}

.newPost_container .postEntry input::-moz-placeholder {
  font-weight: bold;
}

.newPost_container .postEntry input::-ms-input-placeholder {
  font-weight: bold;
}

.newPost_container .postEntry .post_action_buttons {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.newPost_container .postEntry .post_action_buttons button {
  width: 100px;
  height: 30px;
  border-radius: 7px;
  background: red;
  color: white;
  font-weight: bold;
  border: 1px solid #ccc;
  cursor: pointer;
}

.newPostExpandedContainer {
  width: 500px;
  min-height: 400px;
  max-height: 900px;
  background: #ececec;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newPostExpandedContainer .header_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.newPostExpandedContainer .header_bar .headerTitle {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.newPostExpandedContainer .header_bar .closeIcn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.newPostExpandedContainer .userProfileInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.newPostExpandedContainer .userProfileInfo .profile_pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: url("https://images.unsplash.com/photo-1584119164246-461d43e9bab3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newPostExpandedContainer .userProfileInfo .profile_info {
  margin-left: 10px;
}

.newPostExpandedContainer .userProfileInfo .profile_info .username {
  color: #404040;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.newPostExpandedContainer .userProfileInfo .profile_info .user_major {
  font-size: 13px;
  color: #6c6c6c;
}

.newPostExpandedContainer .post_entry {
  margin-top: 20px;
}

.newPostExpandedContainer .post_entry_field {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: transparent;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.newPostExpandedContainer .post_entry_field::-webkit-input-placeholder {
  color: #747474;
  font-family: Arial, Helvetica, sans-serif;
}

.newPostExpandedContainer .post_entry_field:-ms-input-placeholder {
  color: #747474;
  font-family: Arial, Helvetica, sans-serif;
}

.newPostExpandedContainer .post_entry_field::-ms-input-placeholder {
  color: #747474;
  font-family: Arial, Helvetica, sans-serif;
}

.newPostExpandedContainer .post_entry_field::placeholder {
  color: #747474;
  font-family: Arial, Helvetica, sans-serif;
}

.newPostExpandedContainer .post_entry_field:focus {
  outline: none;
}

.newPostExpandedContainer .addImageSection {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.newPostExpandedContainer .addImageSection .addImageArea {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.newPostExpandedContainer .addImageSection .addImageArea label {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.newPostExpandedContainer .addImageSection .addImageArea label .imagesIcn {
  font-size: 42px;
  margin: 5px;
}

.newPostExpandedContainer .addImageSection .addImageArea label span {
  font-size: 15px;
}

.newPostExpandedContainer .addImageSection .addImageArea label:hover {
  background-color: #bcbcbc;
}

.newPostExpandedContainer .addImageSection .addImageArea .imageCloseIcn {
  z-index: 2;
  top: 10px;
  right: 10px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #a4a4a4;
}

.newPostExpandedContainer .addImageSection .addImageArea .imageCloseIcn:hover {
  background: #aeaeae;
}

.newPostExpandedContainer .addImageSection input {
  visibility: hidden;
  display: none;
}

.newPostExpandedContainer .previewImgArea {
  width: 100%;
  min-height: 200px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.newPostExpandedContainer .previewImgArea .floatingButton {
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  position: absolute;
  font-size: 13px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.newPostExpandedContainer .previewImgArea .floatingCloseBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  height: 10px;
  top: 5px;
  right: 5px;
  padding: 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.newPostExpandedContainer .previewImgArea .col_1, .newPostExpandedContainer .previewImgArea .col_2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newPostExpandedContainer .previewImgArea .col_1 .preview_wrapper, .newPostExpandedContainer .previewImgArea .col_2 .preview_wrapper {
  width: 100%;
  max-height: 200px;
}

.newPostExpandedContainer .previewImgArea .col_1 .preview_wrapper .previewImage, .newPostExpandedContainer .previewImgArea .col_2 .preview_wrapper .previewImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.newPostExpandedContainer .tagPeopleArea {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.newPostExpandedContainer .tagPeopleArea .searchArea {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newPostExpandedContainer .tagPeopleArea .searchArea .inputwithIcon {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  background: #dbdbdb;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.newPostExpandedContainer .tagPeopleArea .searchArea input {
  width: 80%;
  height: 100%;
  background: transparent;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.newPostExpandedContainer .tagPeopleArea .searchArea input:focus {
  outline: none;
}

.newPostExpandedContainer .tagPeopleArea .searchArea span {
  font-size: 15px;
  color: red;
}

.newPostExpandedContainer .tagPeopleArea p {
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

.newPostExpandedContainer .addLocation {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.newPostExpandedContainer .addLocation .searchArea {
  width: 100%;
  height: 50px;
  background: #e4e4e4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newPostExpandedContainer .addLocation .searchArea .searchIcn {
  width: 30px;
  margin-left: 10px;
}

.newPostExpandedContainer .addLocation .searchArea input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 15px;
}

.newPostExpandedContainer .addLocation .searchArea input:focus {
  outline: none;
}

.newPostExpandedContainer .addLocation .locationList {
  height: 310px;
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
}

.newPostExpandedContainer .addLocation .locationList .locationEntry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.newPostExpandedContainer .addLocation .locationList .locationEntry:hover {
  background: #dbdbdb;
}

.newPostExpandedContainer .addLocation .locationList .locationEntry .locationIcn {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c9c9c9;
}

.newPostExpandedContainer .addLocation .locationList .locationEntry .locationInfo {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.newPostExpandedContainer .addLocation .locationList .locationEntry .locationInfo span:last-child {
  font-size: 12px;
  color: #5a5a5a;
}

.newPostExpandedContainer .addPostOptions {
  width: 100%;
  height: 50px;
  background: #dfdfdf;
  border-radius: 6px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.newPostExpandedContainer .addPostOptions .postOptions {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newPostExpandedContainer .addPostOptions .postOptions .optionContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.newPostExpandedContainer .addPostOptions .postOptions .optionContainer:hover {
  background-color: #ccc;
}

.newPostExpandedContainer .addPostOptions .postOptions .addImage {
  color: green;
  font-weight: bold;
}

.newPostExpandedContainer .addPostOptions .postOptions .tagUser {
  color: blue;
  font-weight: bold;
}

.newPostExpandedContainer .addPostOptions .postOptions .smile {
  color: darkorange;
  font-weight: bold;
}

.newPostExpandedContainer .addPostOptions .postOptions .location {
  color: red;
  font-weight: bold;
}

.newPostExpandedContainer .postBtn {
  width: 100%;
  height: 40px;
  margin-top: auto;
  background: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}
/*# sourceMappingURL=NewPost.css.map */