.newPost_container {
  width: 70%;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  background: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .user_image {
    width: fit-content;
    height: 100%;
    // background: green;

    .img {
      width: 60px;
      height: 60px;
      background: url("https://images.unsplash.com/photo-1584119164246-461d43e9bab3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }

  .postEntry {
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    margin-left: 20px;

    input {
      background: rgb(243, 243, 243);
      width: 80%;
      height: 60px;
      border-radius: 6px;
      border: 1px solid white;
      padding-left: 10px;
      // font-weight: bold;
      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        font-weight: bold;
        color: rgb(121, 121, 121);
        // font-style: italic;
      }
      &::-moz-placeholder {
        font-weight: bold;
      }
      &::-ms-input-placeholder {
        font-weight: bold;
      }
    }

    .post_action_buttons {
      width: 80%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      button {
        width: 100px;
        height: 30px;
        border-radius: 7px;
        background: red;
        color: white;
        font-weight: bold;
        border: 1px solid #ccc;
        cursor: pointer;
      }
    }
  }
}

// !EXPANDED CSS CODE!

.newPostExpandedContainer {
  width: 500px;
  min-height: 400px;
  max-height: 900px;
  background: #ececec;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .header_bar {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 50px;
    // background: grey;
    border-bottom: 1px solid #ccc;

    .headerTitle {
      width: 100%;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
    }

    .closeIcn {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 20px;
      background-color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
    }
  }

  .userProfileInfo {
    // padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;

    .profile_pic {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: url("https://images.unsplash.com/photo-1584119164246-461d43e9bab3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .profile_info {
      margin-left: 10px;

      .username {
        color: rgb(64, 64, 64);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
      }

      .user_major {
        font-size: 13px;
        color: rgb(108, 108, 108);
      }
    }
  }

  .post_entry {
    // padding: 10px;
    margin-top: 20px;
  }

  .post_entry_field {
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: transparent;
    border: none;
    font-size: 22px;

    &::placeholder {
      color: rgb(116, 116, 116);
      font-family: Arial, Helvetica, sans-serif;
    }

    &:focus {
      outline: none;
    }
  }

  .addImageSection {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    // display: none !important;
    .addImageArea {
      width: 100%;
      height: 100%;
    //   display: none;
      flex-direction: column;
      padding: 10px;

      label {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        .imagesIcn {
          font-size: 42px;
          margin: 5px;
        }

        span {
          font-size: 15px;
        }

        &:hover {
          background-color: rgb(188, 188, 188);
        }
        // padding: 10px;
      }

      .imageCloseIcn {
        // margin-bottom: auto;
        z-index: 2;
        top: 10px;
        right: 10px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 5px;
        transition: all 0.3s ease-in-out;
        background: rgb(164, 164, 164);

        &:hover {
          background: rgb(174, 174, 174);
        }
      }
    }

    input {
      visibility: hidden;
      display: none;
    }

  }

  .previewImgArea {
    width: 100%;
    min-height: 200px;
    background: black;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    position: relative;

    .floatingButton {
        padding: 10px;
        border-radius: 5px;
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border: none;
        position: absolute;
        font-size: 13px;
        top: 5px;
        left: 5px;
        cursor: pointer;
    }

    .floatingCloseBtn {
        width: fit-content;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 10px;
        top: 5px;
        right: 5px;
        padding: 15px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    .col_1, .col_2 {
        width: 100%;
        display: flex;


    .preview_wrapper {
        width: 100%;
        max-height: 200px;
        .previewImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    }

}

  .tagPeopleArea {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;

    .searchArea {
        width: 100%;
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .inputwithIcon {
            width: 90%;
            height: 100%;
            border-radius: 10px;
            background: rgb(219, 219, 219);
            padding-left: 20px;
            display: flex;
            align-items: center;
            font-size: 15px;
        }

        input {
            width: 80%;
            height: 100%;
            background: transparent;
            border: none;
            margin-left: 10px;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;

            &:focus {
                outline: none;
            }
        }

        span {
            font-size: 15px;
            color: red;
        }
    }

    p {
        text-align: center;
        margin-top: 30px;
        cursor: pointer;
    }
  }

  .addLocation {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    // background: red;
    .searchArea {
        width: 100%;
        height: 50px;
        background: rgb(228, 228, 228);
        border-radius: 10px;
        display: flex;
        align-items: center;

        .searchIcn {
            width: 30px;
            margin-left: 10px;
            // font-size: 15px;
        }


        input {
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
            color: black;
            font-size: 15px;
            &:focus {
                outline: none;
            }
        }
    }

    .locationList {
        height: 310px;
        width: 100%;
        margin-top: 20px;
        overflow-y: scroll;
        .locationEntry {
            display: flex;
            align-items: center;
            width: 100%;
            // margin-bottom: 20px;
            cursor: pointer;
            padding: 10px;
            border-radius: 10px;
            &:hover {
                background: rgb(219, 219, 219);
            }

            .locationIcn {
                width: 30px; 
                height: 30px;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(201, 201, 201);
            }

            .locationInfo {
                margin-left: 10px;
                font-family: Arial, Helvetica, sans-serif;

                span {


                    &:last-child {
                        font-size: 12px;
                        color: rgb(90, 90, 90);
                    }
                }
            }
        }
    }
  }

  .addPostOptions {
    width: 100%;
    height: 50px;
    background: rgb(223, 223, 223);
    border-radius: 6px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    .postOptions {
      width: 30%;
      display: flex;
      justify-content: space-between;

      .optionContainer {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #ccc;
        }
      }

      .addImage {
        color: green;
        font-weight: bold;
      }

      .tagUser {
        color: blue;
        font-weight: bold;
      }

      .smile {
        color: rgb(255, 140, 0);
        font-weight: bold;
      }

      .location {
        color: red;
        font-weight: bold;
      }
    }
  }

  .postBtn {
    width: 100%;
    height: 40px;
    margin-top: auto;
    background: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
  }
}
