.pid_application {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
.pid_application .mediaContainer {
  width: 78%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.pid_application .mediaContainer .directionalArrows {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.pid_application .mediaContainer .rightArrow {
  right: 10px;
}
.pid_application .mediaContainer .leftArrow {
  left: 10px;
}
.pid_application .mediaContainer .lowerThirdImage {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 120px;
  background: rgba(9, 9, 9, 0.328);
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s ease-in-out;
}
.pid_application .mediaContainer .lowerThirdImage .lowerImgWrapper {
  width: 80px;
  height: 60px;
  position: relative;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}
.pid_application .mediaContainer .lowerThirdImage .lowerImgWrapper:hover {
  transform: scale(1.8);
  margin-left: 40px;
  margin-right: 40px;
}
.pid_application .mediaContainer .lowerThirdImage .lowerImgWrapper .lowerImgFile {
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.pid_application .mediaContainer .lowerThirdImage .activeImg {
  transform: scale(1.5);
  margin-left: 20px;
  margin-right: 30px;
}
.pid_application .mediaContainer .mediaWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.pid_application .mediaContainer .mediaWrapper .photoFile {
  -o-object-fit: contain;
     object-fit: contain;
}
.pid_application .postInfoContainer {
  width: 22%;
  height: 100%;
  overflow-y: scroll;
}
.pid_application .postInfoContainer .AuthorCaption {
  padding: 10px;
}
.pid_application .postInfoContainer .AuthorCaption .author {
  width: 100%;
  height: 50px;
  display: flex;
}
.pid_application .postInfoContainer .AuthorCaption .author .authorImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  background-position: top !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.pid_application .postInfoContainer .AuthorCaption .author .authorName {
  margin-left: 10px;
  margin-top: 5px;
}
.pid_application .postInfoContainer .AuthorCaption .author .authorName p {
  font-size: 0.9375rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.pid_application .postInfoContainer .AuthorCaption .author .authorName .postDate {
  font-size: 12px;
  color: rgb(65, 65, 65);
}
.pid_application .postInfoContainer .AuthorCaption .author .moreOptions {
  margin-left: auto;
}
.pid_application .postInfoContainer .AuthorCaption .postCaption {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 0.9375rem;
}
.pid_application .postInfoContainer .AuthorCaption .reactionsComments {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(51, 51, 51);
}
.pid_application .postInfoContainer .AuthorCaption .reactionsComments span {
  cursor: pointer;
}
.pid_application .postInfoContainer .AuthorCaption .reactComment {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid rgba(53, 53, 53, 0.1725490196);
  border-bottom: 1px solid rgba(53, 53, 53, 0.1725490196);
  padding: 10px 0;
}
.pid_application .postInfoContainer .AuthorCaption .reactComment .reactBtns {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgb(65, 65, 65);
}
.pid_application .postInfoContainer .AuthorCaption .reactComment .reactBtns .like {
  margin-right: 30px;
  cursor: pointer;
}
.pid_application .postInfoContainer .AuthorCaption .reactComment .reactBtns .comment {
  cursor: pointer;
}
.pid_application .postInfoContainer .AuthorCaption .reactComment .loggedinUserProfile {
  width: 30px;
  height: 30px;
  background-position: top !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 50%;
  margin-left: auto;
}
.pid_application .postInfoContainer .sortBtn {
  width: 100%;
  padding-right: 20px;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  cursor: pointer;
}
.pid_application .postInfoContainer .sortBtn span {
  margin-right: 5px;
}
.pid_application .postInfoContainer .noComments {
  text-align: center;
  margin: 20px 0px;
}
.pid_application .postInfoContainer .commentEntry {
  display: flex;
  padding: 10px;
}
.pid_application .postInfoContainer .commentEntry .userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.pid_application .postInfoContainer .commentEntry .commentInput {
  margin-left: 10px;
  background: rgb(224, 224, 224);
  padding: 10px;
  width: 80%;
  height: 40px;
  border-radius: 10px;
}
.pid_application .postInfoContainer .commentEntry .commentInput .cmtInput {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background: transparent;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-y: visible;
}
.pid_application .postInfoContainer .commentEntry .commentInput .cmtInput:focus {
  outline: none;
}

.closePostBtn {
  width: 50px;
  height: 50px;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background: rgb(156, 156, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}/*# sourceMappingURL=Pid.css.map */