.postContainer {
    width: 70%;
    min-height: 200px;
    padding: 20px;
    border-radius: 9px;
    background: rgb(255, 255, 255);
    // margin: 0 auto;
    display: flex;
    margin-bottom: 30px !important;

    .post_profile_img {
        width: fit-content;
        .img {
         width: 50px;   
        height: 50px;
        background: url('https://media.istockphoto.com/photos/headshot-portrait-of-happy-mixed-race-african-girl-wearing-glasses-picture-id1144287292?b=1&k=20&m=1144287292&s=170667a&w=0&h=fvNKa6QuUa--cNv-oUXaHUBx8deD9iWgegvn76CtG_M=');
        background-position: top !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        border-radius: 50%;
        }
    }

    .post_info {
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        .usernameAndMoreInfo {
            display: flex;
            justify-content: space-between;
            h4 {
                font-family: 'Roboto';
                font-weight: bold;
                font-size: .9375rem;
            }

            .userhandle {
                color: rgb(73, 73, 73);
                font-size: 12px;
            }

            span {
                cursor: pointer;
                .toolTipCont {
                    // display: none;
                    position: absolute;
                    right: 5px;
                    z-index: 1;
                    display: none;
                }
            }
        }
        .post_time {
            color: rgb(118, 118, 118);
            font-size: 12px;
        }

        .postCaption {
            font-family: 'Raleway';
            font-size: .9375rem;
            color: rgb(38, 38, 38);
            margin-top: 20px;
            width: 100% !important;
        }

        .post_action_btns {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: auto;
            margin-left: auto;
            padding: 5px 0;
            // background: red;
            

            border-top: 1px solid #3535352c;
            border-bottom: 1px solid #3535352c;

            button {
                width: fit-content;
                height: 35px;
                margin-right: 15px;
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                background: transparent;
                transition: all 0.3s ease-in-out;
                &:hover {
                    font-weight: bold;
                }
                // color: red;
                .post_icns {
                    color: red;
                    margin-right: 5px;
                }
            }
        }
    }
}

.postMedia_container {

    .hey {
        cursor: pointer !important;
    }


    .potrait {
        width: 100%;
        // background-color: red;
        height: 600px;
        position: relative;
        // object-fit: cover;
        .hey {
            object-fit: contain;
            object-position: top;
        }
    }

    .landscape {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
        .hey {
            object-position: top;
            object-fit: cover !important;
        }
    
}



    }


    .double_layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .potrait {
            height: 600px;
            width: 50%;            
            .hey {
                object-fit: contain;
            }
        }

        .landscape {
            // width: 50%;
            height: 400px;
            background: #000;
            width: 100%;
            .hey {
                object-position: top;
                object-fit: contain !important;

            }

            &:first-child {

                border-bottom: 2px solid rgb(0, 0, 0);
                    }
        }
    }

    .double_layout_p {
        flex-direction: row;
        height: 400px !important;
        
        .potrait {
            height: 100% !important;
            .hey {
                object-fit: cover !important;
            }
        }
    }

    .double_layout_l {
        flex-direction: column;
        
        .landscape, .potrait {
            height: 400px !important;
            background: #000;
            width: 100% !important;
            .hey {
                object-position: top !important;
                object-fit: cover !important;

            }

            &:first-child {

                border-bottom: 2px solid rgb(0, 0, 0);
                    }
        }
    }

    .tri_layout {
        display: flex;
        overflow: hidden;
        // height: 600px;

        .col_1 {
            width: 50%;
            height: auto;
            background: black;
            position: relative;
            border-right: 1px solid black;

            .potrait {
                width: 100%;
                height: 100%;       
                background: #fff;
                .hey {
                    object-fit: cover !important;
                }
            }
        }

        .col_2 {
            width: 40%;
            height: auto;
            display: flex;
            flex-direction: column;
            
            .landscape, .potrait {
                height: 250px;
                width: 100%;       
                background: #fff;
                position: relative;
                .hey {
                    object-fit: cover;
                    object-position: top;
                }
                &:first-child {
                    border-bottom: 1px solid black;
                }
            }
        }
    }

    .tri_layout_l_first {
        flex-direction: column;
        height: 600px;
        // background: green;

        .col_1 {
            width: 100%;
            height: 60% !important;
            border-right: none;
            border-bottom: 1px solid #000;

            .post_Media_Wraapper {
                width: 100%;
                height: 100%;
                // background: blue;

                .hey {
                object-position: top;
                object-fit: cover !important;
                }
            }
        }

        .col_2 {
            flex-direction: row;
            width: 100%;
            height: 40% !important;

            .potrait, .landscape {
                // background: red;
                width: 50%;
                height: 100%;
                position: relative;
                &:first-child {
                    border-right: 1px solid black;
                }
                
            }
        }
    }


    .quad_layout {
        width: 100%;
        height: 500px;
        // display: none;
        
        .col_1 {
            display: flex;
            height: 50%;

            .post_Media_Wraapper {
                width: 50%;
                height: auto;
                position: relative;
                .hey {
                    object-fit: cover;
                    object-position: top;


                }
                &:first-child {
                    border-right: 1px solid rgb(52, 52, 52);
                    border-bottom: 1px solid rgb(68, 68, 68);
                }

                &:last-child {
                    border-bottom: 1px solid black;
                }
            }
        }

        .col_2 {
            display: flex;
            height: 200px !important;
            overflow: hidden;

            .post_Media_Wraapper {
                width: 50%;
                height: auto;
                position: relative;
                .hey {
                    object-fit: cover;
                    // object-position: center !important;
                }

                &:first-child{
                    border-right: 1px solid black;
                }
            }

            .post_more_media {
                width: 50%;
                height: 100%;
                background-position: center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                position: relative;

                .more_pic_overlay {
                    width: 100%;
                    height: 100%;
                    // position: absolute;
                    background: rgba(0, 0, 0, 0.543);
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    span {
                        font-size: 42px;
                        font-weight: bolder;
                    }
                }
            }
        }
    }


